* {
    border: 2px solid red;
    font-family: 'Roboto';
}

body{
    /*background-color: #1F2937;*/
}

/*universal CSS*/
.header,.content1, .footer{
    background-color: #1F2937;
}

button{
    width: 100px;
    /*to make rounded edges*/
    border-radius: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*header*/
ul{
    list-style: none;
    display: flex;
    gap:10px;
    font-size: 18px;
    color: #E5E7EB;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.container1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:200px;
}

.logo{
    text-align: center;
    font-size: 24px;
    color: #F9FAF8;
}
/*ROW 1 */
.content1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.image_text{
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    width:300px
    
}

#content1_header{
    margin-bottom: 0;
    font-size: 48px;
    color:#F9FAF8;
    font-weight: 900;
}

#row1_image{
    height: 200px;
    width: 400px;
    
}
.row1_text{
    margin-top:0;
    margin-bottom: 0;
    font-size: 18px;
    color:#E5E7EB;
}

#row1_button{
    color:#E5E7EB;
    background-color: #3882F6;
}




/*ROW 2*/
.content2{
    display: flex;
    flex-direction: column;
}

#row2_h1{
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.container{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card_text{
    text-align: center;
    margin-top: 0px;
    width:140px;
    font-size: 15px;
    color:#9b9fa8;
}

.card{
    display: flex;
    flex-direction: column;
    align-items:baseline;
}

.card_image{
    width: 140px;
    height: 140px;
    align-self: center;
}



/*ROW 3*/

.content3{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #878d96;
    justify-content: center;
    align-items: center;
  
    
}

.quote{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 0px;
    width:830px;
    
}

.author{
    text-align: end;
    margin: 0;
    margin-right: 50px;
    font-weight: bold;
    font-size: 20px;
    color: black;
    width: 870px;
    
}

/*ROW 4*/

.content4{
    margin: 30px;
}


#row4_widget{
    display: flex;
    justify-content: center;
    align-items: center;

    /*to make rounded edges*/
    border-radius: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #3882F6;
}